<div class="w-3/5 mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-6">
      <%= f.label :username, class: "mb-2 text-sm font-semibold" %>
      <%= f.text_field :username, autofocus: true, class: "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-focus focus:border-primary-focus block w-full p-2.5" %>
    </div>
    <div class="mb-6">
      <%= f.label :email, class: "mb-2 text-sm font-semibold" %>
      <%= f.email_field :email, autocomplete: "email", class: "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-focus focus:border-primary-focus block w-full p-2.5" %>
    </div>
    <div class="mb-6">
      <%= f.label :password, class: "mb-2 text-sm font-semibold" %>
      <% if @minimum_password_length %>
        <em class="text-sm">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-focus focus:border-primary-focus block w-full p-2.5" %>
    </div>
    <div class="mb-6">
      <%= f.label :password_confirmation, class: "mb-2 text-sm font-semibold" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-primary-focus focus:border-primary-focus block w-full p-2.5" %>
    </div>
    <%= f.submit "Sign up", class: "btn" %>
  <% end %>
</div>
