<%= turbo_frame_tag dom_id(post) do %>
  <div class="card" style="width: 24rem;">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <div class="card-subtitle">
          <span class="fw-bolder">
            <%= current_user.email %>
          </span>
          <span class="fw-light fs-6">-</span>
          <span class="text-muted fw-normal"><%= time_ago_in_words(post.created_at) %></span>
        </div>
        <%= render "posts/menu", { post: post } %>
      </div>
      <p class="card-text"><%= post.body %></p>
      <div class="d-flex">
        <%= button_to likes_path(post.id), method: :post, class: "btn btn-outline-danger" do %>
          <span role="icon" aria-label="like button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
          </span>
          <%= turbo_frame_tag dom_id(post, :likes) do %>
            <% unless post.likes.count == 0 %>
              <span class="ms-1"><%= post.likes.count %></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
