<div class="mb-5">
  <%= render @post %>
</div>
<div class="mb-5">
  <%= form_with model: [@post, Comment.new], method: :post, data: { controller: "form", action: "turbo:submit-end->form#reset" } do |f| %>
    <div class="relative">
      <%= f.text_area :body, 
        rows: 4,
        class: "block p-2.5 w-full text-sm bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary focus:border-primary resize-none",
        placeholder: "Your reply message" 
      %>
      <%= f.submit "Reply", class: "btn btn-primary btn-sm absolute right-2.5 bottom-2.5", id: "reply-button-addon" %>
    </div>
  <% end %>
</div>
<%= content_tag :div, id: dom_id(@post, :comments), class: "flex flex-col gap-3" do %>
  <% @post.comments.each do |comment| %>
    <%= render "comments/comment", { comment: comment } %>
  <% end %>
<% end %>
