<div class="container">
  <div class="mb-5">
    <%= render @post %>
  </div>
  <div class="mb-5">
    <%= form_with model: [@post, Comment.new], method: :post, data: { controller: "form", action: "turbo:submit-end->form#reset" } do |f| %>
      <div class="input-group mb-3">
        <%= f.text_field :body, class: "form-control", placeholder: "Your reply message", "aria-label": "Your reply", "aria-describedby": "reply-button-addon" %>
        <%= f.submit "Reply", class: "btn btn-outline-secondary", id: "reply-button-addon" %>
      </div>
    <% end %>
  </div>
  <%= content_tag :div, id: dom_id(@post, :comments) do %>
    <% @post.comments.each do |comment| %>
      <%= render "comments/comment", { comment: comment } %>
    <% end %>
  <% end %>
</div>
