<!DOCTYPE html>
<html data-theme="winter">
  <head>
    <title>Twitty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div id="flash">
      <%= render "layouts/flash_message" %>
    </div>
    <div class="mt-5 bg-base-100 w-2/5 mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
